button {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
  background-color: #5E26CE;
  padding: 12px 24px;
  border-radius: 12px;
  color: white;
  transition: all 0.5s ease;
  cursor: pointer;
  border: none;
  width: 200px !important;
}

button:hover {
  background-color: #A333F5 ;
}

button.active {
  background-color: #A333F5 ;
}

.button_off{
  display: none;
}

.css-1t6e9jv-MuiCardActions-root{
  width: 115px !important;
  margin: auto !important;
}
@media only screen and  (max-width: 800px) {
button{

  width: 115px !important;
}

}