footer{
  margin-top: 100px ;
  background: #130429;
  height: 100px;
  width: 100%;
  display: flex;
  ;
}
footer h5{
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  margin: auto;
}

